[submodule "plug/nerdtree"]
	path = plug/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "plug/ack.vim"]
	path = plug/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "plug/ctrlp.vim"]
	path = plug/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "plug/YouCompleteMe"]
	path = plug/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "plug/syntastic"]
	path = plug/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "plug/vim-go"]
	path = plug/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "plug/vim-surround"]
	path = plug/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "plug/vim-airline"]
	path = plug/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plug/vim-airline-themes"]
	path = plug/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "plug/tagbar"]
	path = plug/tagbar
	url = git@github.com:majutsushi/tagbar.git
