[submodule "plug/nerdtree"]
	path = plug/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "plug/ack.vim"]
	path = plug/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "plug/ctrlp.vim"]
	path = plug/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "plug/YouCompleteMe"]
	path = plug/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "plug/syntastic"]
	path = plug/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "plug/vim-go"]
	path = plug/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "plug/vim-surround"]
	path = plug/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "plug/vim-airline"]
	path = plug/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "plug/vim-airline-themes"]
	path = plug/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "plug/tagbar"]
	path = plug/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "plug/nerdcommenter"]
	path = plug/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "plug/vim-easymotion"]
	path = plug/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "plug/tabular"]
	path = plug/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "plug/vim-indent-guides"]
	path = plug/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "plug/vim-markdown"]
	path = plug/vim-markdown
	url = git@github.com:plasticboy/vim-markdown.git
[submodule "plug/vim-colorschemes"]
	path = plug/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "plug/vim-bufferline"]
	path = plug/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule "plug/goyo.vim"]
	path = plug/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "plug/mru"]
	path = plug/mru
	url = git@github.com:yegappan/mru.git
[submodule "plug/vim-gitgutter"]
	path = plug/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "plug/vim-fugitive"]
	path = plug/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "plug/vim-rest-console"]
	path = plug/vim-rest-console
	url = git@github.com:diepm/vim-rest-console.git
